{% extends "_layout.html" %}

{% block title %}Seed{% endblock %}

{% block content %}
<h1 class="display-4 mb-4">Сідування: внесення початкових даних</h1>
<p>
    Сідування (від англ seed - зерно) - початкова ініціалізація, внесення 
    стартових (початкових) даних від яких продовжується подальша робота 
    системи. Широко вживається у криптографії (сідування ГПВЧ).
    У базах даних - це початкові ролі, зокрема, максимальна роль - адміністратор. 
    А також початковий користувач-адміністратор, оскільки зміна ролей 
    дозволяється тільки адміністраторам, а значить десь повинен взятись 
    перший такий користувач. Також можливі базові налаштування - статуси, смайліки,
    кольори тощо. 
</p>
<p>
    Сідування зазвичай виконується один раз при старті проєкту, після чого
    скрипти сідування видаляються з системи. Повторний запуск сідування можна 
    назвати "поверненням до заводських налаштувань"
</p>
<button class="btn btn-danger" id="btn-seed">Seed</button>


<h2 class="display-4 mb-4">Тестування авторизованного режиму (токена)</h2>

<button class="btn btn-warning" id="btn-auth-test">Test</button>




<button class="btn btn-secondary" id="btn-auth-no-header">No header</button>

<button class="btn btn-secondary" id="btn-auth-invalid-scheme">Invalid Scheme</button>
{% endblock %}
